<form action="" id="reservation-form">
    <fieldset>
        <div class="field">
            <label>Room Type:</label>
            <select class="select2" style="width: 100%; text-align: center;">
                <option>ALL</option>
                <option>Delux</option>
                <option>Normal AC</option>
                <option>Normal N-AC</option>
            </select>
       </div>        
        <div class="field">
            <label>Check In:</label>
          <select class="select1">
                {% for i in 1..30 %}
                    <option id="{{i}}">{{i}}</option>
                {% endfor %}
          </select><select class="select2">
                <option>April 2009</option>
          </select>
       </div>
       <div class="field">
            <label>Check In:</label>
          <select class="select1">
                {% for i in 1..30 %}
                    <option id="{{i}}">{{i}}</option>
                {% endfor %}
          </select><select class="select2">
                <option>April 2009</option>
          </select>
       </div>
       <div class="field">
            Persons: &nbsp;<input type="text" value="1"/>&nbsp; &nbsp; &nbsp; &nbsp; Rooms:&nbsp; <input type="text" value="1"/>
       </div>
       <div class="button"><span><span><a href="#" onclick="document.getElementById('reservation-form').submit()">Check Availability</a></span></span></div>
    </fieldset>
 </form>