{% extends 'layout.html.twig' %}
{% set pageid=4 %}
{% block gallery %}
{% include "innergallery.html.twig" %}
{% endblock %}

{% block sidebar %}
    <div class="inner">
            <h3>Menu</h3>
         <ul class="list3">
            <li><a href="#">Specials</a></li>
            <li><a href="#">Lunch</a></li>
            <li><a href="#">Diner</a></li>
            <li><a href="#">Beverage</a></li>
            <li><a href="#">Winery</a></li>
            <li><a href="#">Dessert</a></li>
            <li><a href="#">Italian</a></li>
            <li><a href="#">French</a></li>
            <li><a href="#">German</a></li>
         </ul>
         <div class="button"><span><span><a href="#">Make Reservation</a></span></span></div>
      </div>
  {% endblock %}



{% block right_content %}
               	<h2>Today’s featured menu item</h2>
                  <img class="img-indent png alt" alt="" src="{{app.request.BaseUrl}}/resource/images/4page-img1.png" />
                  <div class="extra-wrap">
                     <h5>Foie gras!</h5>
                     <ul class="list2">
                        <li>Nice and tasty!</li>
                        <li>Made from French ingredients!</li>
                        <li>Cooked by Italian chef!</li>
                        <li>Awarded by Czech assosiation of chef!</li>
                        <li>Proved to be good for your health!</li>
                     </ul>
                     <div class="aligncenter"><strong class="txt2">AS LOW AS €19!</strong></div>
                  </div>
 {% endblock %}